<div class='col-md-8'>
<h4>Recent Posts</h4>
<hr>
<% @user.posts.each do |post| %>
<h2><%= post.title %></h2>
<h3><%= post.body %></h3>
	<% if post.user_id == current_user.id %>
		<%= link_to "edit", edit_post_path(post.id) %>
		<%= link_to "delete", delete_post_path(post.id), method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
	<% end %>
<hr>
<% end %>

</div>
<div class='col-md-4'>
	<h1><%= @user.username %></h1>
	<%= image_tag @user.image.url(:large) %><br>
	Member since <%= @user.created_at.strftime("%b %d, %Y") %>
	<br>
	Posts Created: <%= @user.posts.count %>
	<br>
	Voted Given: <%#= @user.votes.count %>
	<br>
</div>
<%= link_to "Delete this user", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this user?"} %>
<br>
<%= link_to "Back to the list!", users_path %>
