<!-- Shows the post's title and body, along with the number of votes per item and some other information. This page will change drasticall once the bug on the new.html is fixed. 
 -->
<div class='col-md-8 postshowtitle'>
Title: <%= @post.title %>
</div><br>
<div class='col-md-8'>
Body: <%= @post.body %>
</div><br>

<% @post.post_items.each do |post_item| %>
	<div class='col-md-4 postitem'>
	Votes:<%= post_item.votes.count %><br>
	<%= link_to image_tag(post_item.item.image_url), post_item.item.url %><br>
	<%= link_to post_item.item.name,votes_path(:post_item_id => post_item.id, :user_id => current_user.id),class: 'btn btn-info btn-xs' %><br>
	</div>

<% end %>