<%= form_tag test_index_path, method: :get do |f| %>
	<%= text_field_tag :search, nil, placeholder: 'search' %>
	<%= submit_tag "Search" %>
<% end %>


<h1>Products from the Amazon API</h1>


<% if @products.any? %>
  <% @products.each do |product| %>
    <div class="product">
      <%= link_to image_tag(product.image_url), product.url %>
      <%= link_to product.name, product.url %>
    </div>
  <% end %>
<% end %>	